.nav-bar {
  background-color: rgb(77, 76, 76);
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  color:rgb(251, 5, 210)
}
.nav-link{
  color: rgb(247, 246, 247);
  padding: 2%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large
}
